h2 {
    margin-bottom: 24px;
    a {
        display: block;
        background: url(/src/assets/img/logo.png) no-repeat;
        text-wrap: nowrap;
        text-indent: 101%;
        overflow: hidden;
    }
}

footer {
    background: url(/src/assets/img/footer-bg-lg.png) no-repeat;
    background-size: cover;
    min-height: 424px;
    padding: 80px 20px;
    .container {
        display: flex;
        align-items: center;
    }
    .info {
        margin-right: auto;
        p {
            @include fs-5;
            margin-bottom: 24px;
        }
        a {
            color: $primary-500;
        }
    }
    .otherLink {
        li {
            width: 306px;
            margin-bottom: 24px;
            padding: 8px 24px;
            border: 1px solid $primary-400;
            border-radius: 8px;
            transition: all .5s;
            &:hover {
                transform: translateY(-5px);
            }
            &:first-of-type {
                border: 1px solid $primary-900;
                background: $primary-900;
                a {
                    color: $primary-50;
                }
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            a {
                @include fs-5;
                display: flex;
                align-items: center;
                color: $primary-700;
            }
            img {
                display: inline-block;
                width: 56px;
                margin-right: 8px;
            }
        }
    }
}

@include mobile {
    footer {
        background: url(/src/assets/img/footer-bg-sm.png) no-repeat;
        width: 100%;
        min-height: 538px;
        padding: 40px 12px;
        background-size: cover;
        .container {
            flex-direction: column;
        }
        .info {
            margin-right: 0;
            margin-bottom: 40px;
            p {
                @include fs-6;
            }
            a {
                display: block;
               text-align: center; 
            }
        }
    }
}