h3.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 80px;

    img {
        width: 100px;
        height: 6px;

        &.deco-lg {
            display: block;
        }

        &.deco-sm {
            display: none;
        }

        &:nth-of-type(1) {
            margin-right: 16px;
        }

        &:nth-of-type(3) {
            margin-left: 16px;
        }
    }
}

.serve {
    padding-bottom: 120px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    h3 {
        text-align: center;

        &:nth-of-type(2) {
            margin-top: 80px;
            margin-bottom: 40px;
        }
    }
}

@include mobile {
    h3.title {
        font-size: 24px;
        margin-top: 80px;
        margin-bottom: 40px;
        letter-spacing: $letter-spacing;

        img {
            width: 56px;

            &.deco-lg {
                display: none;
            }

            &.deco-sm {
                display: block;
            }

            &:nth-of-type(2) {
                margin-right: 16px;
            }

            &:nth-of-type(4) {
                margin-left: 16px;
            }
        }
    }

    .serve {
        h3 {
            &:nth-of-type(2) {
                margin-top: 40px;
                margin-bottom: 24px;
            }
        }
    }
}

.serveSop {
    background: url('/src/assets/img/process-bg.png');
    padding: 120px 0;
    color: $primary-50;

    h3 {
        margin-top: 0;
    }

    .sopConten {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            position: relative;
            background: $primary-700;
            border: 1px solid $primary-600;
            padding: 24px 32px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            max-width: 655px;
            width: 100%;
            margin-bottom: 64px;

            &::after {
                content: '';
                width: 32px;
                height: 32px;
                background: url('/src/assets/img/arrow_downward-gray.svg') no-repeat;
                position: absolute;
                left: calc(50% - 16px);
                bottom: -48px;
            }

            &:last-of-type {
                margin-bottom: 0;

                &::after {
                    content: none;
                }
            }
        }

        .num {
            font-size: 72px;
            color: $primary-500;
            margin-right: 32px;
        }

        .contentText {
            h3 {
                margin-bottom: 8px;
            }

            p {
                color: $primary-400;
                @include fs-5;
            }
        }
    }
}
@include mobile {
    .serveSop {
        padding: 80px 0;
    
        .sopConten {
            padding: 0 12px;
            li {
                padding: 24px 24px 48px;
                flex-direction: column;
                text-align: center;
                .contentText {
                    p {
                        text-align: start;
                    }
                }
            }
    
            .num {
                font-size: 48px;
                margin-right: 0;
                margin-bottom: 8px;
            }
        }
    }
}


.price {
    .priceList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 120px;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 32px;
            .title {
                display: flex;
                align-items: center;

                img {
                    width: 56px;
                }

                p {
                    @include fs-3;
                    color: $primary-600;
                    margin-left: 8px;
                }
            }

            hr {
                width: 41px;
                border: 1px solid $primary-500;
                margin: 0 16px;
            }

            .money {
                @include fs-2;

                small {
                    @include fs-6;
                }
            }
        }
    }
}

@include mobile {
    .price {
        .priceList {
            flex-direction: column;
            margin-bottom: 80px;
            padding: 0 27px;
            li {
                justify-content: space-between;
                margin-bottom: 24px;
                padding: 24px 32px;
                background: $primary-100;
                box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
                .title {
    
                    img {
                        width: 40px;
                    }
    
                    p {
                        @include fs-5-b;
                    }
                }
    
                hr {
                    width: 28px;
                    margin: 0;
                }
    
                .money {
                    @include fs-5-b;
                }
            }
        }
    }
}

// 客戶案例
.custom-case {
    padding: 120px 0;
    h3 {
        margin-top: 0;
    }
    .caseList {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        > li {
            margin-bottom: 80px;
            &:nth-of-type(odd) {
                margin-right: 24px;
            }
            .caseImg {
                margin-bottom: 16px;
                img {
                    border-radius: 8px;
                }
            }
            .contentText {
                padding-left: 16px;
                h4 {
                    @include fs-3;
                    margin-bottom: 8px;
                }
                p {
                    @include fs-6;
                    color: $primary-600;
                }
            }
            .mark {
                margin-top: 24px;
                ul {
                    display: flex;

                    li {
                        @include fs-6;
                        background: $primary-200;
                        border-radius: 16px;
                        padding: 8px 16px;
                        margin-right: 16px;
                        color: $primary-900;
                    }
                }
            }
        }
    }
}

@include mobile {
    .custom-case {
        padding: 80px 0;
        .caseList {
            padding: 0 12px;
            > li {
                margin-bottom: 48px;
                &:nth-of-type(odd) {
                    margin-right: 0;
                }
                .contentText {
                    h4 {
                        @include fs-5-b;
                    }
                }
                .mark {
                    margin-top: 16px;
                    ul {
                        li {
                            margin-right: 8px;
                            padding: 4px 12px;
                            &:last-of-type {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 常見問題
.fqa {
    padding: 120px 0;
    h3 {
        margin-top: 0;
    }
    .fqaList {
        display: flex;
        flex-wrap: wrap;
        li {
            width: calc(50% - 12px);
            padding: 24px;
            border: 1px solid $primary-300;
            margin-bottom: 24px;
            border-radius: 8px;
            &:nth-of-type(odd) {
                margin-right: 24px;   
            }
        }
        h4 {
            margin-bottom: 16px;
        }
        p {
            @include fs-5;
            color: $primary-600;
        }
    }
}

@include mobile {
    .fqa {
        padding: 80px 0;
        .fqaList {
            padding: 0 12px;
            li {
                width: 100%;
                &:nth-of-type(odd) {
                    margin-right: 0;   
                }
            }
            h4 {
                @include fs-5-b;
            }
            p {
                @include fs-6;
            }
        }
    }
}